// Here you can add other styles
.custom-app-header {
  background-color: #f2f5f9;
}

.custom-app-footer {
  background-color: #f2f5f9;
  color: #204179;
  margin-top: 1.5rem;
}

.sidebar {
  background-color: #204179;
}

.sidebar .nav-item {
  transition: unset;
}

.sidebar .nav-link.active {
  background-color: #204179;
}

.sidebar .nav-link.active .nav-icon {
  color: white;
}

.sidebar .nav-link:hover {
  background-color: #204179;
}

.sidebar .nav-dropdown.open .nav-link {
  background-color: #204179;
}

.sidebar .nav-link .nav-icon {
  color: white;
}

.account-dropdown {
  background-color: #204179;
  color: #f2f5f9;
}

.app-header .nav-item button:hover {
  background-color: #f2f5f9;
}

a {
  color: #204179;
}

a:hover {
  text-decoration: unset;
  color: #204179;
}

//GLOBAL STYLES
.content-container {
  background-color: white;
  padding: 20px;
  height: 100%;
  border-radius: 6px;
}

.content-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
  color: #204179;
  word-break: break-word;
}

.content-input {
  max-width: 350px;
  width: 100%;
}

.sidebar .nav-dropdown-items .nav-item {
  padding-left: 10px;
}

.row-hover {
  cursor: pointer;
}

.row-hover:hover {
  background-color: #f0f9dc;
}

.control-button {
  @media screen and (max-width: 425px) {
    max-width: 100% !important;
    margin: 0 0 10px 0 !important;
  }
}


.white-box{
  background-color: #ffffff;
  padding: 10px;
  margin-top:10px;
  border-radius: 10px;
}

.white-box h4{
  color:#204179;
}